.footer{
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color:#337ef0;
    text-align: center;
    color: #ffff;
    margin-left: -1rem;
}
.p{
    margin: 1% 0 -1% 0;
}